body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: "Nunito";
}

main,
footer {
    padding: 10px;
}

.container {
    color: white;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}




.container img {
    width: 600px;
    object-fit: cover;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 10px 0;
}

.hero-image {
    background-image: linear-gradient(rgba(34, 40, 49, 0.5),
            #EBA352),
        url('#');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.hero-text {
    text-align: center;
}

.hero-button {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    border: none;
    background-color: #222831;
    opacity: 0.8;
    color: white;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.hero-button:hover {
    background-image: linear-gradient(to right, #EBA352, #222831);
    opacity: 1;

}



nav a {

    display: block;
    padding: 15px;
    text-decoration: none;
    background-color: #222831;
    text-align: center;
    color: #ffffff;
    margin: auto;
}

nav a:hover {
    border: none;
    font-weight: 700;
    cursor: pointer;
    text-decoration: underline;
    color: #EBA352;


}

nav {
    background-color: #222831;
}

.navheader {
    display: grid;
    grid-template-columns: 200px 1fr;
}

.logo {
    display: inline-block;
    width: 150px;
    object-fit: contain;
    text-align: center;
    margin: auto;
    margin-top: 10px;
}

#myButton::before {
    content: "=";
    padding: 16px;
}

#myButton.open::before {
    content: "x";
}

#myButton {
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    width: 100%;
    text-align: right;
    padding: 4px;

}

.Menu {
    display: none;
}

.Menu.open {
    display: block;

}

.logo1 {
    display: none;
}

.parent {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #222831;
    color: white;
    padding: 10px;
    border: 1px #222831;


}

main {
    background-color: #222831;
}

.ads {
    color: white;
    text-align: center;
    padding: 50px;
}


.title-member {
    color: #EBA352;
    text-align: center;
}

footer {
    text-align: center;
    background-color: #333333;
    color: white;
}

.main-join {

    padding: 60px;
    text-align: left;
    color: white;

}

.h1-join {
    vertical-align: middle;
}

.main-join input {
    padding: 12px;
}

.main-join form div {
    margin-bottom: 20px;
}

.main-join form label {
    display: block;
    margin-bottom: 5px;
    
}

.main-join form input[type="text"],
.main-join form input[type="email"],
.main-join form input[type="tel"],
.main-join form select,
.main-join form textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 5px;
}

.main-join form textarea {
    resize: vertical;
    /* Allow vertical resizing of textarea */
}

/* Container styles */
.view-buttons{
    padding-bottom: 16px;
    padding-top: 16px;
}

#members.grid-view {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;

}

#members.list-view {
    display: flex;
    flex-direction: column;
    
}

#members.list-view section{
    display: grid;
    grid-template-columns: 1fr ;
    margin: 0;
    padding: 4px;
    border-radius: 2px;

}

#members.list-view >* {
    margin: 0 1rem;
}

#members.list-view section h3 {
    font-size: 1rem;
    font-family: "Nunito";
}

#members.list-view section:nth-child(even) {
    background-color: #bed;
}



#members.list-view img {
    display: none;
}


/* Card styles */
.member-card {
    border: 1px solid #363533;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: #ecf5fc;
    
}

.member-card img {
    max-width: 20%;
    height: auto;
    border-radius: 5px;
}

.member-card h3 {
    margin: 0.5rem 0;
}




#display {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

#display section {
    border: 1px solid #ccc;
    padding: 20px;
}

#display img {
    width: 100%;
    height: auto;
}

#display h3 {
    margin-top: 10px;
}

#display p {
    margin: 5px 0;
}

button {
    background-color: #784902;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
}


button:hover {
    background-color: #bb6f04;
}

.membership-benefits{
    color: #ffffff;
    padding-left: 30px;
}

.thankyou {
    background-color: #f8d8ab;
    color: #1a1919;
}


#forecast-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1rem;
}

.forecast-day {
    text-align: left;
    border: 1px solid #363533;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    background-color: #040f17;
}

.forecast-day img {
    width: 60px;
    height: 60px;
}

.meet-banner {
    background-color: #EBA352;
    color: #222831;
    text-align: center;
    padding: 15px;
    font-weight: bold;
    /* display: none; */
}

.events p{
    background-color: #040f17;
    border-radius: 10px;
    padding: 60px;
    margin-top: 26px;
}


.spotlight {
    background-color: #393e46;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    
}

.spotlight img {
    max-width: 20%;
    height: auto;
    border-radius: 5px;
}

.spotlight a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    background-color: #EBA352;
    color: #222831;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
